@use './var' as *;

@mixin font($size:10px, $family:$font-noto-sans, $wight:$font-regular, $color:$text-color-normal, $lineHight: $line-height-row) {
  font-size: $size;
  font-family: $family;
  font-weight: $wight;
  line-height: $lineHight;
  color: $color;
}