@use './../../mixin' as *;

.p-top-pickup {
  overflow: hidden;

  .p-top-pickup__heading {
    @include font($size:4rem, $family:$font-oswald, $wight:$font-bold, $color:$textColorBold, $lineHight: $line-height-row);
    @include sp() {
      font-size: 3.2rem;
    }
  }

  .p-top-pickup__slider {
    margin-top: 40px;

    @include sp() {
      margin-top: 30px;
    }
  }
}