@use './../../mixin' as *;

.p-top-mv {
  width: 100%;
  height: fit-content;
  padding-top: 70px;
  padding-bottom: 145px;
  position: relative;

  @include sp() {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .p-top-mv__heading {
    position: relative;
    z-index: 2;
  }

  .p-top-mv__heading-main {
    @include font($size:7rem, $family:$font-oswald, $wight:$font-bold, $color:$textColorBold, $lineHight: $line-height-row);
    @include sp() {
      font-size: 5rem;
    }
  }

  .p-top-mv__lead--en {
    display: block;
    @include font($size:2rem, $family:$font-oswald, $wight:$font-medium, $color:$textColorBold, $lineHight: $line-height-row);
    margin-top: 8px;

    @include sp() {
      font-size: 1.6rem;
      margin-top: 5px;
    }
  }

  .p-top-mv__lead--ja {
    display: block;
    @include font($size:3.2rem, $family:$font-noto-sans, $wight:$font-medium, $color:$textColorBold, $lineHight: $line-height-row);
    @include sp() {
      font-size: 2.2rem;
      margin-top: 10px;
    }
  }
}