@use './../../mixin' as *;

.p-top-knowledge {
  padding-top: 100px;
  padding-bottom: 108px;
  position: relative;

  @include sp() {
    padding-top: 80px;
    padding-bottom: 68px;
  }

  .p-top-knowledge__heading {
    &::before {
      content: '';
      display: inline-block;
      background: url(/images/common/icon_bulb.svg) no-repeat;
      background-size: contain;
      width: 160px;
      height: 160px;
      position: absolute;
      top: -65px;
      left: -25px;

      @include sp() {
        width: 120px;
        height: 120px;
        top: -45px;
        left: -30px;
      }
    }
  }

  .p-top-knowledge__button {
    .l-button__wrapper {
      @include sp() {
        justify-content: center;
      }
    }
    
  }

  .p-top-knowledge__contents {
    display: flex;
    gap: 0 40px;
    margin-top: 50px;
    @include sp() {
      flex-direction: column;
      gap: 40px 0;
      margin-top: 40px;
    }
  }

  .p-top-knowledge__aside {
    width: calc(30% - 20px);

    @include sp() {
      width: 100%;
    }
  }

  .p-top-knowledge__item {
    width: calc(70% - 20px);

    @include sp() {
      width: 100%;
    }
  }
}