@use './../../mixin' as *;

.p-knowledge {
  .p-knowledge__table {
    width: 100%;
    margin-top: 40px;

    @include sp() {
      width: 960px;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  .p-knowledge__wrapper {
    @include sp() {
      width: 100vw;
      margin: 0 calc(50% - 50vw);
      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar{
        display: none;
      }
    }
  }

  .p-knowledge__filter {
    display: flex;
    align-items: center;
    gap: 0 15px;
  }

  .p-knowledge__filter-label {
    @include font($size:1.6rem, $family:$font-noto-sans, $wight:$font-bold, $color:$textColorBold, $lineHight: $line-height-row);
    pointer-events: none;

    @include sp() {
      font-size: 1.5rem;
    }
  }

  .p-knowledge__filter-select {
    @include font($size:1.6rem, $family:$font-noto-sans, $wight:$font-bold, $color:$textColorNormal, $lineHight: $line-height-row);
    border: 2px solid $mainColorBlue;
    border-radius: 6px;
    background-color: $baseColor;
    padding: 5px 10px;

    @include sp() {
      font-size: 1.5rem;
    }
  }

  .p-knowledge__t-title {
    text-align: center;
    @include font($size:1.6rem, $family:$font-noto-sans, $wight:$font-bold, $color:$textColorBold, $lineHight: $line-height-row);
    border-bottom: 2px solid $mainColorGreen;
    padding: 10px 5px;

    @include sp() {
      font-size: 1.5rem;
    }
  }

  .p-knowledge__tbody-head {
    vertical-align: middle;
    @include font($size:1.6rem, $family:$font-noto-sans, $wight:$font-medium, $color:$textColorBold, $lineHight: $line-height-row);
    border-bottom: 2px solid $mainColorGreen;
    padding: 15px 5px;

    @include sp() {
      font-size: 1.5rem;
    }
  }

  .p-knowledge__tbody-data {
    @include font($size:1.6rem, $family:$font-noto-sans, $wight:$font-medium, $color:$textColorBold, $lineHight: $line-height-row);
    border-bottom: 2px solid $bgColorLightGray;
    padding: 15px 5px;

    &.is-center {
      vertical-align: middle;
    }

    @include sp() {
      font-size: 1.5rem;
    }
  }

  .p-knowledge__link {
    display: block;
    padding-left: 15px;
    position: relative;
    transition: $common-transition;

    &::before {
      content: '';
      display: block;
      clip-path: polygon(100% 50%, 0 0, 0 100%);
      width: 8px;
      height: 12px;
      background-color: $mainColorBlue;
      position: absolute;
      top: 5px;
      left: 0;
    }

    @include pc() {
      &:hover {
        color: $mainColorBlue;
      }
    }
  }
}