@use './../mixin' as *;

.l-media-link {
  margin-top: 50px;

  @include sp() {
    margin-top: 40px;
  }
  
  .l-media-link__link {
    transition: $common-transition;

    @include pc() {
      &:hover {
        .l-media-link__img {
          opacity: 0.7;
          transform: scale(1.1);
        }
      }
    }
  }

  .l-media-link__media {
    border-radius: 12px;
    box-shadow: $boxShadow;
    background-color: $baseColor;
    width: 100%;
    overflow: hidden;
  }

  .l-media-link__img {
    width: 100%;
    height: 100%;
    transition: $common-transition;
  }

  .l-media-link__tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: fit-content;
    margin-top: 20px;
    padding: 6px 20px;

    &.is-design {
      background-color: $categoryGreen;
    }

    &.is-creative {
      background-color: $categoryYellow;
    }

    &.is-frontend {
      background-color: $categoryBlue;
    }

    @include sp() {
      padding: 6px 12px;
    }
  }

  .l-media-link__tag-text {
    @include font($size:1.2rem, $family:$font-noto-sans, $wight:$font-medium, $color:$baseColor, $lineHight: 1);
    @include sp() {
      font-size: 1.1rem;
    }
  }

  .l-media-link__title {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    @include font($size:2rem, $family:$font-noto-sans, $wight:$font-medium, $color:$textColorBold, $lineHight: $line-height-row);
    margin-top: 15px;

    @include sp() {
      font-size: 1.7rem;
    }
  }
}