@use './../mixin' as *;

.l-mv {
  width: 100%;

  .l-mv__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 60px;

    @include sp() {
      justify-content: flex-start;
      padding-top: 50px;
      padding-bottom: 0;
    }
  }
}