// Site color
$base-color: #ffffff;
$main-color-blue: #5E718B;
$main-color-green: #96AA9A;
$main-color-yellow: #E2A552;

// text-color
$text-color-normal: #333333;
$text-color-bold: #222222;
$notes-color-gray: #555555;
$caution-color: #da011a;
$notes-color: #c30b0b;
