// Site color
$baseColor: #ffffff;
$mainColorBlue: #5E718B;
$mainColorGreen: #96AA9A;
$mainColorYellow: #E2A552;

// Text-color
$textColorNormal: #333333;
$textColorBold: #222222;
$notesColorGray: #555555;
$cautionColorRed: #da011a;
$notesColorRed: #c30b0b;

// Back-ground-color
$bgColorLightBlue: #E2E9EC;
$bgColorLightGray: #D3D3dD;

// Category-color
$categoryGreen: #96AA9A;
$categoryYellow: #E2A552;
$categoryBlue: #5E718B;